devices:
  192.168.10.98:
    layer: [l2]
    type: generic
    community: public

  192.168.10.50:
    layer: [l2,l3]
    type: generic
    community: public

  192.168.10.97:
    layer: [l2]
    type: generic
    community: public

  192.168.10.100:
    layer: [l2]
    type: generic
    community: public

  192.168.10.101:
    layer: [l2]
    type: generic
    community: public


